root{
    font-size: 16px;
}
*{
    margin:0;
}
body{
}

#main{
  display: block;

  margin: 1rem auto 1rem auto;
  background-color: rgba(24,24,24,25%);
  max-width: 82rem;
}


#main > *{
  padding: 2rem 1rem 2rem 1rem;
}

header{
  text-align: center;
  padding: 1rem;
}
header p{
  font-style: italic;
  font-size: 1.3rem;
}
h1{
  font-size: 3rem;
}

#img-div{
  background-color: rgba(24,24,24, 25%);
  width: 69rem;
  max-width:75%;
  padding: 0.5rem;
  margin: 0 auto 0 auto;

}
#image{
  display: block;
  max-width:100%;
}
#img-caption{
  font-style: italic;
}

#tribute-info > h2{
  padding:1rem 0 1rem 0;

}
#tribute-info > p{
  font-size: 1.3rem;
}